@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>
    We are a technology platform run by alumni of DCE and IIM Ahmedabad. We provide complete integrated mobile solutions that help schools in Marketing, Security, Operations and brand building. We intend to the interface between the parents and the schools that help them connect in a much easier and faster way. This not only helps to have happier parents but also builds school brand through word of mouth feedback from the parents.

    Join the revolution to make parents a part of their child's grow.
</p>
