@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>

                          <abbr title="Phone">P: +91 997 113 8071</abbr>
   
</address>

<address>
    <strong>Support:</strong>   <a href="hello@helloparent.in">hello@helloparent.in</a><br />
    
</address>